.container {
    position: relative;
}

.select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 1rem 1.6rem;
    height: 4.8rem;
    min-width: 25rem;
    width: 100%;
    border-color: var(--cool-grey-500);
    border-radius: 0.8rem;
    color: var(--cool-grey-800);
    font-size: 1.6rem;
    cursor: pointer;
}

.icon {
    position: absolute;
    top: calc(50% - 1rem);
    right: 1.4rem;
}
