body {
    font-family: 'Apax';
    font-size: var(--base-font-size);
}

@font-face {
    font-family: 'Apax';
    src: url('/public/fonts/apax-regular.woff') format('woff'),
        url('/public/fonts/apax-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Apax';
    src: url('/public/fonts/apax-regular-italic.woff') format('woff'),
        url('/public/fonts/apax-regular-italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Apax';
    src: url('/public/fonts/apax-medium.woff') format('woff'),
        url('/public/fonts/apax-medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Apax';
    src: url('/public/fonts/apax-bold.woff') format('woff'),
        url('/public/fonts/apax-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
