.card {
    height: 46rem;
    border: 0.1rem solid var(--cool-grey-400);
    border-radius: 1.6rem;
    overflow: hidden;
}

.image {
    height: 50%;
    width: 100%;
    object-fit: cover;
}

.label {
    margin: 3.2rem 2rem;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 3rem;
    color: var(--cool-grey-800);
}
