:root {
    --base-alpha: #ec6b1e;
    --base-alpha-o-15: #ec6b1e26;
    --cool-grey-200: #e6e6e8;
    --cool-grey-400: #bab9c0;
    --cool-grey-500: #9997a3;
    --cool-grey-600: #777584;
    --cool-grey-700: #636171;
    --cool-grey-800: #3c3a4a;
    --cool-grey-900: #232132;
    --cool-grey-900-o-20: #23213233;
    --warm-grey-50: #fbfaf9;
    --warm-grey-100: #f6f4f0;
    --warm-grey-200: #f0ede8;
    --warm-grey-300: #e3dfd8;
    --orange-10: #fef8f4;
    --white: #ffffff;
}
